h1{
  text-align="center";
body{
  margin: 0px;
}
main{
  margin: 20px;}

.navbar ul{
 background-color: #808080;
  padding: 0px;
  Margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: White;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #0000ff;
}
  .navbar li{
    float: left;
  }
